[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pylint = "*"
pydocstyle = "*"
rope = "*"
eliot = "*"
eliot-tree = "*"
requests = "*"
pyinstaller = "*"

[packages]
bokeh = "*"
scipy = "*"
pillow = ">=6.2.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
